.navbar {/*
	background-color: #ffffff;
	border-width: 0px 0px 2px;*/
	padding-bottom: 15px;
	padding-top: 15px;
}

.img-index {
	margin-left: auto;
	margin-right: auto;
}

.row-index {
	text-align: center;
}

.logo2 {
	display: none;
	margin-top: 5px;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: #080808;
}

.navbar-fixed-top {
	top: 0px;
	border-width: 0px 0px 2px;
	border-bottom-color: rgb(52, 142, 162);
}

/*.navbar-nav li {*/
	/*margin-left: 15px;*/
/*}*/

.navbar-nav li a {
	color: #8C8C8C;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

.navbar-nav {
	margin-left: 50px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: rgb(52, 142, 162);
	background-color: transparent;
}

.index-text {
	text-align: justify;
	font-size: 16px;
	color: rgb(52, 142, 162);
}

.indexH2 {
	color: rgb(26, 118, 162);
}

.infos{
	font-size: 17px;
}

.col {
    font-size: 20px;
}

.panel-heading {
    background-color: rgb(52, 142, 162) !important;
}

.page-header {
	color: rgb(52, 142, 162);
}

.headlining {
	color: white;
}

.panel-body {
	color: rgb(52, 142, 162);
}

p {
	color: rgb(52, 142, 162);
}

h3 {
	color: rgb(26, 118, 162);
}

@media(min-width:768px) {

	.top-nav-collapse {
		padding: 0;
		/*border-bottom: 1px solid rgba(255,255,255,.3);*/
		background: #FFF;
	}

	.navbar-custom {
		/*padding: 10px 0;*/
		/*border-bottom: 0;*/
		/*letter-spacing: 1px;*/
		/*background: 0 0;*/
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.navbar-nav-custom {
		margin-left: 30px;

	}
}

@media(max-width:1199px) {

    .navbar-nav {
        margin-left: 0px;
    }

    .navbar-nav-custom {
        margin-left: 8%;
    }

    .navbar-nav li a {
        font-size: 17px;
    }
}

@media(max-width:991px) {

    .navbar-nav li a {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
    }
}

@media(max-width:767px) {

    .index-pic {
        margin-top: 30px;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: rgb(52, 142, 162);
    }
}