.navbar {/*
	background-color: #ffffff;
	border-width: 0px 0px 2px;*/
}

.img-index {
	margin-left: auto;
	margin-right: auto;
}

.row-index {
	text-align: center;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: #080808;
}

.navbar-fixed-top {
	top: 0px;
	border-width: 0px 0px 2px;
}

.navbar-nav li {
	margin-left: 15px;
}

.navbar-nav li a {
	color: #8C8C8C;
	font-size: 17px;
	font-weight: bold;
}

.navbar-nav {
	margin-left: 50px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #52B021;
	background-color: transparent;
}